.u-footer
  div(class='f-flexJCC')
    a(href=`${public.link_home}` style='display: block;')
      img.u-logo(src='./img/icon/logo-golden.png')
  ul.u-footer_list
    li 
     a(href=`${public.link_home}`) #{public.aboutUs}
    li 
     a(href=`${public.link_home}`) #{public.product}
    li 
     a(href=`${public.link_home}`) #{public.cooperation}
  .u-footer_desc #{public.footerDesc}
  div.u-footer_share
    a(class='wechat')
      img(src='./img/icon/wechat.png')
      .u-footer_share_wechatBox
        img(src='./img/qrcode.png')
    a(href=`${public.link_home}`)
      img(src='./img/icon/sina.png')
    a(href=`${public.link_home}`)
      img(src='./img/icon/facebook.png')
